.header{
	@include gridle_state(phoness tabless){
		width:100%;
		padding:{left:10px !important;right:10px !important;}
	}
	@include gridle_parent(desktopess notebook-min);
	background:{color:#fff;}
	.logo{
		width: 150px;
		margin:0 auto;
		position: relative;
		z-index: 2;
		@include gridle_hide(phoness-min phoness);
		.logo-nomr{
			@include gridle_hide(phoness-min phoness);
		}
	}
	.nav{
		position: relative;
		z-index: 1;
		@extend .listas;
		@extend .text-center;
		margin: {top:-95px;}
		.menu-item-26{
			margin:{left:-26px;}
		}
		.menu-item-51{
			margin:{right:160px;}
		}
		a{
			color:$_pricolor;
			font:{size:14px;}
			text:{transform:uppercase;decoration:none;}
			padding:{left:25px;right:25px;}
			&:hover{
				color:$_seccolor;
			}
		}
		.current_page_item{
			a{color:$_seccolor;}
		}
		@include ipad(portrait){
			ul{
				padding:0;
				margin:0;
			}
			a{
				padding:{left:15px;right:15px;}
			}
		}
		@include gridle_state(phoness-min phoness){
			display: none;
		}
	}
	.tools{
		@include gridle(12);
		@include gridle_parent(desktopess notebook-min);
		padding:{top:10px;}
		.btn-menu{
			@include gridle(2, phoness-min phoness);
			@include gridle(6, tabless);
			font:{size:27px;}
			color: $_pricolor;
			cursor: pointer;
			&:hover{
				color:$_seccolor;
			}
		}
		.logo_mobile-norm{
			@include gridle_hide(desktopess notebook-min tabless-min);
			@include gridle_show(phoness-min phoness);
			@include gridle(8,phoness-min phoness);
			margin:{top:4px;}
		}
		@extend .listas;
		.social{
			@include gridle(2, phoness-min phoness);
			@include gridle(6, tabless);
			@extend .text-right;
			a{
				padding:{left:5px;right:5px;}
				color:$_pricolor;
				&:hover{
					color:$_seccolor;
				}
			}
			.btn_search{
				padding:{left:10px;}
				cursor:pointer;
				&:hover{
					color:$_seccolor;
				}
			}
			@include gridle_state(phoness-min phoness){
				margin:{top:10px;bottom:0;}
				li{
					display: none;
					&.btn_search{
						display: block;
					}
				}
			}
		}
	}
}
.scroll-view{
	@extend .header;
    background: #fff;
    border:{bottom:solid 1px $_seccolor;}
    height: 60px;
    position: fixed;
    z-index: 9;
    top: -61px;
    transition: top 0.2s ease-in-out;
    overflow: hidden;
    @extend .listas;
    .logo{
		@include gridle(3);
		@include gridle(2, tabless);
		@include gridle_state(tabless-min notebook-min){
			margin:{top:10px;}
		}
		a{
			svg{
				width: 100%;
				max-height: 55px;
			}
		}
    }
    .tools{
    	@include gridle(1);
    }
	.nav{
    	@include gridle(7);
    	margin:{top:15px;}
    	@extend .text-left;
    	.menu-item-51{
    		margin:{right:0;}
    	}
    	.menu-item-26{
    		margin:{left:0;}
    	}
    	a{
    		text:{decoration:none;}
    		color:$_pricolor;
    		padding:{left:20px;right:20px;}
    		&:hover{
    			color:$_seccolor;
    		}
    	}
    	.current_page_item{
			a{color:$_seccolor;}
		}
    }
    .social{
    	margin: {top:14px;}
		@include gridle(2);
		@extend .text-right;
		a{
			padding:{left:5px;right:5px;}
			color:$_pricolor;
			&:hover{
				color:$_seccolor;
			}
		}
    }
    @include gridle_hide(phoness-min phoness);
}
.menu-wrap{
	.menu-lateral{
		margin:{top:61px;}
		background:{color:#fff;}
		color:#000;
		width: 328px;
		@include gridle_state(phoness-min phoness){
			margin:{top:0;}
			width:100%;
		}
		.menu-side{
			@include gridle_clear(both);
			height: 70px;
			border:{bottom: 1px solid $_pricolor;}
			.logo-menu-side{
				@include gridle_float(left);
				width: 260px;
				margin:{top: 10px;}
			}
			#close-button{
				@include gridle_float(right);
				margin:{right:5px;}
				width: 20px;
				padding:{top: 25px;left:5px;right:5px;}
				svg{
					width:100%;
					height: auto;
				}
			}
		}
		nav{
			ul{
				list-style: none;
				.menu-mobile-lateral{
					text:{transform:uppercase;}
					font:{size:20px;}
					@include gridle_hide(desktopess notebook-min tabless);
					@include gridle_show(phoness-min phoness tabless-min);
					@include gridle_state(phoness-min phoness tabless-min){
						margin:{bottom:20px;}
					}
				}
				li{
					a{
						color:#000;
						text:{decoration:none;}
						&:hover{
							color:$_seccolor;
						}
					}
				}
			}
		}
		.bottom-side{
			border:{top:1px solid $_pricolor;}
			padding:{bottom:1px;}
			@extend .listas;
			@extend .text-center;
			a{
				color:$_pricolor;
				font:{size:25px;}
				padding:{right:25px;}
				&:hover{
					color:$_seccolor;
				}
			}
		}
	}
}
.nav-up {
    top: 0;
}