html{
	body{
		font:{family:$_fontfamily;}
		.wrapper{
			@extend .content;
			@include min-screen($bp-xxl){
				max-width: 1117px;
			}
			.ads_728x90_home{
				margin:10px auto 0;
				width:728px;
			}
			.content-destacado{
				@extend .listas;
				height: 138px;
				@include gridle_hide(phoness-min phoness);
				padding:{left:0;}
				margin:{bottom:0;top:0;}
				.destacados{
					display: inline-block;
					@include gridle(5);
					@include gridle_parent();
					height:106px;
					border:{style:solid;width:1px;color:#ccc;}
					margin: {right:16.6%;bottom:10px;top:10px;}
					a{
						text:{decoration:none;}
						display: block;
						img{
							@include gridle_float(left);
							height: 105px;
							width:auto;
							max-width: 180px;
							margin:{right:20px;}
						}
						h2{
							color:$_pricolor;
							font:{size: 21px;}
							@extend .no-margins;
							@extend .no-paddings;
						}
						.cat_date{
							color:#ccc;
							font:{size:11px;}
						}
					}
					.share_btns{
						@include gridle_float(left);
						list-style: none;
						@extend .no-margins;
						@extend .no-paddings;
						li{
							display: inline-block;
							@extend .no-paddings;
							@extend .no-margins;
							width:33px;
							margin:{left:3px;right:3px;}
						}
					}
					&:last-child{
						margin:{right:0;}
					}
					@include ipad(){
						width:48%;
						margin:{right:3.9%;}
						a{
							h2{
								font:{size:15px;}
							}
						}
					}
				}
			}
			.all-content{
				padding-top:20px;
				border:{top:solid #ccc 1px;}
				@include gridle_state(phoness-min phoness){
					border:none;
				}
				.wrapper-index{
					@include gridle(8);
					@include gridle(12, phoness-min phoness);
					@include gridle_parent(desktopess);
					.postes{
						@include gridle(12);
						@include gridle_parent();
						border:{width:1px;style:solid;color:#ccc;}
						margin:{bottom:10px;}
						.post-content{
							@extend .text-center;
							overflow: hidden;
							position: relative;
							.agua-logo{
								position: absolute;
								width: 130px;
								height: 31px;
								z-index: 8;
								margin:{top:10px;}
								background: #fff;
								padding:{top: 4px;}
								right: 0;
							}
							a{
								text:{decoration:none;}
								img{
									width:100%;
									height:auto;
									display:inline-block;
								}
								.cat_date{
									color:$_seccolor;
									font:{size:14px;}
									.wrap-cat_name{
										color:$_seccolor;
									}
								}
								.view_commen{
									color:$_pricolor;
									font:{size:11px;}
								}
								h2{
									color:$_pricolor;
									@extend .no-margins;
									@extend .no-paddings;
								}
							}
							.share_btns{
								margin:{top:20px;bottom:20px;}
								list-style: none;
								@extend .no-margins;
								@extend .no-paddings;
								li{
									display: inline-block;
									@extend .no-paddings;
									@extend .no-margins;
									width:94px;
									margin:{left:10px;right:10px;}
									@include gridle_state(phoness phoness-min tabless-min){
										margin:{left:3px;right:3px;}
									}
									&.wtapp-btn{
										width: 112px;
										@include gridle_state(phoness phoness-min tabless-min){
											display: inline-block !important;
										}
										@include gridle_state(desktopess notebook-min){
											display: none;
										}
									}
								}
							}
							.audiovisual{
								width:100%;
								iframe{
									width:100%;
									height:480px;
									@include gridle_state(phoness phoness-min){
										height:240px;
									}
								}
								video{
									width:100%;
									height:480px;
									@include gridle_state(phoness phoness-min){
										height:240px;
									}
								}
							}
						}
					}
					.pagination{
						@include gridle(12);
						@include gridle_state(phoness-min){
							text:{align:center;}
						}
						.page-numbers{
							background:{color:$_seccolor;}
							width: 22px;
							height: 19px;
							display: inline-block;
							text-align: center;
							padding: 3px 0px 0;
							color:#fff;
							font:{size:10px;weight:normal;}
							text:{decoration:none;}
							@include border-top-radius(50%);
							@include border-right-radius(50%);
							@include border-bottom-radius(50%);
							@include border-left-radius(50%);
							&.current{
								background:{color:#ccc;}
								color:#000;
							}
							&:hover{
								background:{color:#fff;}
								border:1px solid $_seccolor;
								color:$_seccolor;
								width:20px;
								height: 17px;
							}
						}
					}
				}
			}
			.wrapper-inner{
				@include gridle(12);
				margin:{top:60px;}
				@include gridle_state(phoness-min){
					margin:{top:20px;}
				}
				.wrapper-normal-post{
					.imagen-single{
						@include gridle(5);
						@include gridle_parent();
						img{
							width:100%;
							height:auto;
							display:block;
						}
					}
					.content{
						@include gridle(7);
						h2{
							font:{size:24px;family:$_fontfamily;}
							color:#000;
							margin:0;
							padding:0;
						}
						.parrafo{
							font:{family:'Helvetica Neue' $_fontfamily2;size:14px;}
							iframe{
								width:100%;
								height: 640px;
							}
							video{
								width:100%;
								height: 640px;
							}
							.more-hide{
								display: none;
							}
							a{
								color:$_seccolor;
								text:{decoration:none;}
							}
							.share_btns{
								margin:{top:20px;bottom:20px;}
								list-style: none;
								@extend .no-margins;
								@extend .no-paddings;
								li{
									display: inline-block;
									@extend .no-paddings;
									@extend .no-margins;
									width:94px;
									margin:{left:10px;right:10px;}
									@include gridle_state(phoness phoness-min tabless){
										margin:{left:3px;right:3px;}
									}
									&.wtapp-btn{
										width: 112px;
										@include gridle_state(phoness phoness-min tabless-min){
											display: inline-block !important;
										}
										@include gridle_state(desktopess notebook-min){
											display: none;
										}
									}
								}
							}
						}
						.meta-inner-post{
							a{
								color:$_seccolor;
								text:{decoration:none;}
							}
						}
						.meta-bottom-post{
							@include gridle(12);
							color:#ccc;
							@extend .text-center;
						}
					}
				}
				.wrapper-estandar-post{
					.tit-inner-content{
						@include gridle(8);
						@include gridle(12, phoness-min);
						@include gridle_parent();
					}
					.meta-inner-post{
						.wrap-cat_name{
							color:$_seccolor;
						}
						a{
							color:$_seccolor;
							text:{decoration:none;}
						}
					}
					.imagen-single{
						@include gridle(12);
						@include gridle_parent();
						img{
							width:100%;
							height:auto;
							display:block;
						}
					}
					.content{
						@include gridle(12);
						@include gridle_parent(phoness);
						h2{
							font:{size:24px;family:$_fontfamily;}
							color:#000;
							margin:0;
							padding:0;
						}
						.share_btns{
							@extend .text-right;
							@include gridle(4);
							@include gridle(12, phoness phoness-min tabless-min);
							@include gridle_parent();
							list-style: none;
							@extend .no-margins;
							@extend .no-paddings;
							padding:{top:5px;}
							li{
								display: inline-block;
								@extend .no-paddings;
								@extend .no-margins;
								width:94px;
								margin:{left:10px;right:10px;}
								@include gridle_state(phoness phoness-min tabless){
									margin:{left:3px;right:3px;}
								}
								&.wtapp-btn{
									width: 112px;
									@include gridle_state(phoness phoness-min tabless-min){
										display: inline-block !important;
									}
									@include gridle_state(desktopess notebook-min){
										display: none;
									}
								}
								&:last-child{
									margin:{right:0;}
								}
							}
						}
						.parrafo{
							font:{family:'Helvetica Neue' $_fontfamily2;size:14px;}
							@include gridle_clear(both);
							iframe{
								width:100%;
								height: 640px;
							}
							video{
								width:100%;
								height: 640px;
							}
							.more-hide{
								display: none;
							}
							a{
								color:$_seccolor;
								text:{decoration:none;}
							}
						}
						.meta-bottom-post{
							@include gridle(12);
							color:#ccc;
							@extend .text-center;
						}
					}
				}
				.wrapper-gallery-post{
					@extend .wrapper-estandar-post;
					.content{
						@include gridle-parent(phoness-min);
						.share_btns{
							@extend .text-right;
							@include gridle(4);
							@include gridle(12, phoness phoness-min tabless-min);
							@include gridle_parent();
							list-style: none;
							@extend .no-margins;
							@extend .no-paddings;
							padding:{top:20px;}
							li{
								display: inline-block;
								@extend .no-paddings;
								@extend .no-margins;
								width:94px;
								margin:{left:10px;right:10px;}
								@include gridle_state(phoness phoness-min tabless){
									margin:{left:3px;right:3px;}
								}
								&.wtapp-btn{
									width: 112px;
									@include gridle_state(phoness phoness-min tabless-min){
										display: inline-block !important;
									}
									@include gridle_state(desktopess notebook-min tabless){
										display: none;
									}
								}
								&:last-child{
									margin:{right:0;}
								}
							}
						}
						.parrafo{
							@include gridle(12);
							@include gridle_parent();
							p{
								font:{family:'Helvetica Neue' $_fontfamily2;size:14px;}
								img{
									width:100%;
									height: auto;
								}
							}
							.more-hide{
								display: none;
							}
							.swipe-all{
								@extend .no-paddings;
							}
							iframe{
								@include gridle_state(phoness phoness-min){
									height:240px;
								}
							}
						}
						.meta-bottom-post{
							@include gridle(12);
							color:#ccc;
							@extend .text-center;
						}
					}
				}
			}
			.sidebar{
				@include gridle(4);
				@include gridle_hide(phoness-min phoness);
				h3{
					font:{size:20px;}
					color:$_seccolor;
				}
				.widget_text{
					margin:{bottom:10px;}
				}
				.popular-posts{
					.wpp-list{
						@extend .no-margins;
						@extend .no-paddings;
						list:{style: none;}
						li{
							@include gridle(12);
							@include gridle_parent();
							border:{top:solid #ccc 1px;bottom:solid #ccc 1px;}
							padding:{top:3px;bottom:3px;}
							margin:{bottom:10px;}
							.image{
								width: 62px;
								height: 62px;
								@include gridle_float(left); 
								img{
									width:100%;
									height: auto;
								}
							}
							.content-destaca{
								@include gridle_float(left);
								padding:{left:5px;}
								p{
									@extend .no-margins;
									@extend .no-paddings;
									font:{size:14px;}
									a{
										color:#000;
										text:{decoration:none;}
									}
								}
								.cate{
									font:{size:11px;}
									span{
										a{color:$_seccolor;text:{decoration:none;}}
									}
								}
								.meta{
									@extend .cate;
									color:#999;
								}
							}
						}
					}
				}
			}
			.footer{
				@include gridle(12);
				font:{size:9px;}
				@extend .text-center;
				padding:{bottom:60px;}
				a{
					color:$_seccolor;
				}
			}
		}
		&.contacto{
			.wrapper{
				.pages-template{
					padding:{top:100px;}
					@include gridle_state(phoness phoness-min){
						padding-top: inherit;
					}
					.cont-contact{
						@include gridle(6);
						@include gridle(12, phoness phoness-min);
						@include gridle_state(phoness phoness-min){
							padding:0 0 10px 0;
							text-align:center;
							border: none;
						}
						border:{right: 5px solid #000;}
						padding-left: 10%;
						h2{
							color:$_seccolor;
							font:{size:36px;weight:700;}
							margin:{top:0;bottom:10px;}
						}
						h3{
							font:{weight:700;}
							margin:{bottom:0;}
						}
						p{
							margin:0;
						}
					}
					.cont-form{
						@include gridle(6);
						@include gridle(12, phoness phoness-min);
						@extend .text-center;
						p{
							margin:0;
						}
						form{
							input{
								background:{color:#E6E6E6;}
								width:300px;
								height:30px;
								border: none;
								@extend .text-center;
								color:#000;
								margin:{bottom:10px;}
								@include placeholder{
									color:#000;
									font:{size:11px;}
								}
								&[type="submit"]{
									width:80px;
									color:$_seccolor;
									text:{transform:uppercase;}
								}
							}
							textarea{
								background:{color:#E6E6E6;}
								height: 100px;
								width:300px;
								border: none;
								@extend .text-center;
								color:#000;
								margin:{bottom:3px;}
								@include placeholder{
									color:#000;
									font:{size:11px;}
								}
							}
						}
					}
				}
			}
		}
		&.que-es-soycrack{
			.wrapper{
				.pages-template{
					padding:{top:100px;}
					@include gridle_state(phoness phoness-min){
						padding-top: inherit;
					}
					@extend .text-center;
					h2{
						font:{size:36px;weight:300;}
						span{
							color:$_seccolor;
							font:{weight:700;}
						}
					}
					p{
						font:{size:14px;}
						max-width: 650px;
						margin: 0 auto;
					}
					.barra{
						border:{top:solid 5px #000;}
						max-width: 150px;
						margin: 10px auto;
					}
				}
			}
		}
	}
}